In [3]:
fruits = ['apple', 'banana', 'cherry', 'date']

In [4]:
print(fruits[0])

apple

In [5]:
fruits[2]

'cherry'

In [6]:
fruits[::]

['apple', 'banana', 'cherry', 'date']

In [7]:
fruits[1:3]

['banana', 'cherry']

In [8]:
fruits[::-1]

['date', 'cherry', 'banana', 'apple']

In [9]:
print(fruits)

['apple', 'banana', 'cherry', 'date']

In [10]:
fruits[2] = "ali"

In [11]:
print(fruits)

['apple', 'banana', 'ali', 'date']

In [12]:
fruits.append("sara")

In [13]:
fruits

['apple', 'banana', 'ali', 'date', 'sara']

In [14]:
fruits.extend([ 'ali','mina', 'sara'])
print(fruits)

['apple', 'banana', 'ali', 'date', 'sara', 'ali', 'mina', 'sara']

In [15]:
fruits.insert(1, 'added')

In [16]:
print(fruits)

['apple', 'added', 'banana', 'ali', 'date', 'sara', 'ali', 'mina', 'sara']

In [17]:
refu = fruits.pop()

In [18]:
refu

'sara'

In [19]:
fruits.pop(0)

'apple'

In [20]:
print(fruits)

['added', 'banana', 'ali', 'date', 'sara', 'ali', 'mina']

In [21]:
fruits.remove('ali')

In [22]:
fruits

['added', 'banana', 'date', 'sara', 'ali', 'mina']

In [23]:
del fruits[0]

In [24]:
fruits

['banana', 'date', 'sara', 'ali', 'mina']

In [25]:
print(fruits)

['banana', 'date', 'sara', 'ali', 'mina']

In [26]:
fruits.clear()

In [27]:
fruits

[]

In [28]:
list_one = [1, 2,3 ]
list_tow = [4, 5, 6]

In [29]:
list_sum = list_one + list_tow

In [30]:
print(list_sum)

[1, 2, 3, 4, 5, 6]

In [31]:
lsit_number = [1, 1, 1, 1, 1, 2, 3, 4, 5, 5, 6 , 'ali', 'ali', 'ali']

In [32]:
counted1 = lsit_number.count(1)

In [33]:
print(counted1)

5

In [34]:
counted2 = lsit_number.count('ali')

In [35]:
print(counted2)

3

In [36]:
a = lsit_number.reverse()

In [37]:
lsit_number

['ali', 'ali', 'ali', 6, 5, 5, 4, 3, 2, 1, 1, 1, 1, 1]

In [38]:
print(a)

None

In [39]:
list(reversed(lsit_number))

[1, 1, 1, 1, 1, 2, 3, 4, 5, 5, 6, 'ali', 'ali', 'ali']

In [40]:
print(lsit_number)

['ali', 'ali', 'ali', 6, 5, 5, 4, 3, 2, 1, 1, 1, 1, 1]

In [41]:
print()

In [42]:
copylist = [3, 6, 1, 3, 7, 9, 3]

In [43]:
color = ['red', 'green', 'blue', 'yellow']

In [44]:
color[color.index('blue')] = 'aqua'

In [45]:
color

['red', 'green', 'aqua', 'yellow']

In [46]:
color.append('purple')

In [47]:
print(color)

['red', 'green', 'aqua', 'yellow', 'purple']

In [48]:
tupletype = (1, 2, 3, 4, 5)

In [49]:
tuple(reversed(tupletype))

(5, 4, 3, 2, 1)

In [51]:
print(tupletype)

(1, 2, 3, 4, 5)

In [52]:
my_tuple = ('hello', 'sara', 'miaa', 'zahra')

In [54]:
print(my_tuple)

('hello', 'sara', 'miaa', 'zahra')

In [56]:
empty_tuple = ()
print(empty_tuple)

()

In [58]:
empty_tuple1 = tuple()
print(empty_tuple1)

()

In [59]:
single_element = (3,)

In [61]:
single_element

(3,)

In [63]:
print(type(single_element))

<class 'tuple'>

In [65]:
type(single_element)

tuple

In [66]:
nested_tuple = (1, 2, 3, (5, 6, 7))

In [68]:
print(nested_tuple)

(1, 2, 3, (5, 6, 7))

In [70]:
nested_tuple

(1, 2, 3, (5, 6, 7))

In [71]:
my_tuple = (1, 2,3, 4,5,6, (6, 7, 8))

In [85]:
n = my_tuple[3]
print(type(n))

<class 'int'>

In [86]:
my_tuple[6][2]

8

In [87]:
my_tuple[1:]

(2, 3, 4, 5, 6, (6, 7, 8))

In [95]:
my_info = ("jane Doe", "123 elm street", 28)

In [109]:
my_info = my_info[:] + (29,)

In [110]:
print(my_info)

('jane Doe', '123 elm street', 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29)

In [111]:
tuple1 = (1, 2, 3, 4)
tuple2 = (5, 6, 7, 8)
tuple3 = tuple1 + tuple2

In [115]:
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [116]:
2 in tuple1

True

In [117]:
tuple2.index(8)

3